<launch>
    <group ns="rb10">
        <node name="task_controller" pkg="controll_robots" type="TaskController_rb10.py" output="screen"/>
        <node name="joint_controller" pkg="controll_robots" type="JointController_rb10.py" output="screen"/>
        <node name="cmd_talker" pkg="controll_robots" type="Controller_cmd.py" output="screen"/>
    </group>
</launch>
